#SMTP settings
smtp_email="no-reply@krusplan.se"
smtp_password="Password123"
smtp_server_address=smtp.server.com
smtp_port=587





# Test account
test_email="test@krusplan.se"
test_password="Password123"




#Admin account
email="admin@krusplan.se"
password="Password123"




#Database settings
#Todo


#flask settings
session_length=3600
app_secret_key="supersecretkey"
app_port=80
app_host="0.0.0.0"
app_debug=True