{% extends "base.html" %}
{% block title %}Hem{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">

{% endblock %}
{% block content %}

<div class="home-hero-container">
  <img src="{{ url_for('static', filename='images/20250816_2214_Tolk och klient_simple_compose_01k2t86s2me5f9xgbccfde7gcg.png') }}" alt="kursplan" class="home-hero">
  <div class="home-container">
    <h1>Välkommen</h1>
    <p>Välj ett alternativ:</p>
    <ul class="home-options">
      <li><a href="{{ url_for('user_page.signup') }}">Skapa konto</a></li>
      <li><a href="{{ url_for('user_page.login') }}">Logga in</a></li>
    </ul>
  </div>
</div>

{% endblock %}
